{% extends 'base.html.twig'%}
{% block title %}Ayuda{% endblock %}
{% block body %}
	<div class="titulo">Esta es una página de {{ block('title') }}</div>
	<h4>Incluir todo lo necesario para completar esta página</h4>
{% endblock %}